[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
helpful-scripts-engi = {editable = true, path = "."}
requests = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-dependency = "*"
black = "*"
python-dotenv = "*"

[requires]
python_version = "3.10"
